@import "./_colors.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.background {
  display: flex;
  min-height: calc(100vh - 75px);
  background: $light-blue;
  padding: 0 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-top: 60px;
  margin-bottom: 40px;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    display: flex;
    margin-top: 1%;
    flex-direction: column;
    align-items: center;
    background: #f1f5fd;
    box-shadow: none;
    font-family: Poppins;
  }

  h1 {
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;

  }

  p {
    text-align: center;
    margin: 0;
    font: Poppins;
    margin-bottom: 20px;
  }

  label {
    color: $gray-1;
    vertical-align: center;
    font-size: 14px;
    
  }

  input {
    margin-top: 10px;
    padding: 10px;
    height: 40px;
    width: 280px;
    font-size: 16px;
  }

  button {
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    height: 38px;
    color:  $white;
    width: 170px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-family: Poppins;
    background: none;

    &:hover {
      background: #4d5fc4 !important;
      color:  $white;
    }
  }
}

.footer {
  width: 100%;
  height: 75px;
  border-top: 1px solid $gray-2;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: $dark-blue;
    font-size: 12px;

    &:hover {
      color: $light-blue-hover;
    }
  }
}

.githubLogo {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}