@import "./_colors.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.background {
  display: flex;
  min-height: calc(100vh - 75px);
  background: $light-blue;
  padding: 0 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  margin-top: 60px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    margin-bottom: 5px;
    color: $gray-1;
    font-size: 14px;
  }

  input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    height: 30px;
    width: 280px;
    border: none;
    background: $white;
  }

  button {
    margin-top: 20px;
    border-radius: 10px;
    align-self: center;
    font-weight: 600;
    letter-spacing: 1px;
    height: 40px;
    color:  $white;
    width: 180px;
    cursor: pointer;
    border: none;
    background: $dark-blue;

    &:hover {
      background: $dark-blue-hover;
    }

  }
}

.footer {
  width: 100%;
  height: 75px;
  border-top: 1px solid $gray-2;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: $dark-blue;
    font-size: 12px;

    &:hover {
      color: $light-blue-hover;
    }
  }
}

.githubLogo {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}